<a href="https://colab.research.google.com/github/sohailkhan4349/Data-science-Journey/blob/main/L2_Data_Types_and_Basic_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types
- Write solution of each question in the cell given below the corresponsing question.

#### 1. Write a program to take principal amount, rate and interest as input and calculate simple interest.

In [ ]:
amount = int(input('Enter the amount : '))                   #Enter the amount
rate = int(input('Enter the rate of interest : '))           #Enter the rate of interest
time = int(input('Enter the year for the interest : '))      #Enter the duration for the rate of interest

#Simple interest = principle amount * rate of interest * time interval  ----> Formula to calculate Simple interest

S = (amount*rate*time)/100                                   #----> Formula to calculate Simple interest

print('The simple interest = ', S)

Enter the amount : 3000
Enter the rate of interest : 12
Enter the duration for the interest : 1
The simple interest =  360.0

In [ ]:
T = int(input("Time duration (in years): "))

P = int(input("Principal amount or loan amount: "))

R = int(input("Rate of interest (per annum): "))

simple_interest = (P*R*T)/100
print(simple_interest)

#### 2. Write a program that takes a string as input and prints the number of words in the string.

In [ ]:
name= str(input("Type the sentence to know its length: "))  # taking the str input from the user
print("The original string is : ", name)                    # printing the input from the user
print("The length of the string is : ", len(name.split()))  # Used split and len keyword to know the length of the string

Type the sentence to know its length: My name is sohail khan
The original string is :  My name is sohail khan
The length of the string is :  5

#### 3. Write a program to take a list of numbers as input (in a single line) and print the sum, avg, max and min elements.

In [ ]:
input_num = input('Enter elements of a list separated by space :')
print("\n")
user_list = input_num.split()

# convert each item to int type
for i in range(len(user_list)):
    # convert each item to int type
    user_list[i] = int(user_list[i])
print("The numbers in list are : ", user_list)

Enter elements of a list separated by space :23 21 232 646 123


The numbers in list are :  [23, 21, 232, 646, 123]
Sum =  1045

In [ ]:
print("The list is : ", user_list)
print("Sum = ", sum(user_list))        # Calculating the sum of list elements

The list is :  [23, 21, 232, 646, 123]
Sum =  1045

In [ ]:
print("The list is : ", user_list)
print("The average is : ", sum(user_list)//len(user_list))  # printing the average of the given variable

The list is :  [23, 21, 232, 646, 123]
The average is :  209

In [ ]:
print(max(user_list))      #using max and min to find out maximum and minimum number from the list
print(min(user_list))

646
21

#### 4. Write a program to take the marks of 3 students in five subjects each as a list (one list for each input) as input and print the average score of each student..

In [ ]:
john=input("enter marks of john followed by space of 5 subjects : ")
tim=input("enter marks of tim followed by space of 5 subjects : ")
tom=input("enter marks of tom followed by space of 5 subjects : ")
s1= john.split()
s2= tim.split()
s3= tom.split()

print("\n")

for i in range (len(s1)):
    s1[i]=int(s1[i])
print("the marks are as follows of John : ", s1 )
print("and average marks scored : ", int(sum(s1))//len(s1))
print("\n")
for i in range (len(s2)):
    s2[i]=int(s2[i])
print("the marks are as follows of Tim : ", s2 )
print("and average marks scored : ", int(sum(s2))//len(s2))
print("\n")

for i in range (len(s1)):
    s3[i]=int(s3[i])
print("the marks are as follows of Tom : ", s3 )
print("and average marks scored : ", int(sum(s3))//len(s3))

enter marks of john followed by space of 5 subjects : 78 85 70 88 77
enter marks of tim followed by space of 5 subjects : 87 69 87 67 90
enter marks of tom followed by space of 5 subjects : 76 97 92 79 81


the marks are as follows of John :  [78, 85, 70, 88, 77]
and average marks scored :  79


the marks are as follows of Tim :  [87, 69, 87, 67, 90]
and average marks scored :  80


the marks are as follows of Tom :  [76, 97, 92, 79, 81]
and average marks scored :  85

#### 5. Write a program to take a list as input containing results of 10 coin tosses as 'H' or 'T'. Jon gets a point for each 'T' and Tom gets a point for each 'H'. print the points recieved by both.

In [ ]:
toss= input("Enter the results of 10 coin tosses as 'H' or 'T' ")
t1= toss.count("H")                                               #counting the times of H
t2= toss.count("T")                                               #counting the times of T
print("The points received by Tom are :", t1)                     #printing the count values as results
print("The points received by Tom are :", t2)

Enter the results of 10 coin tosses as 'H' or 'T' H T H T H H T H H T
The points received by Tom are : 6
The points received by Tom are : 4

#### 6. Take two numbers as input and print the result after swapping them. (Without using multiple assignment and any extra variable).

In [ ]:
a = 10
b = 15

# now creating the variables to swap the values.
x = a
a = b
b = x

print("The value of a after swapping is {}" .format(a))
print("The value of b after swapping is {}" .format(b))

The value of a after swapping is 15
The value of b after swapping is 10

In [ ]:
a = 10
b = 15

a, b = b, a
print("a =", a)
print("b =", b)

a = 15
b = 10

#### 7. Take a list as input in a single line containing 10 numbers as marks out of 100. The even positions in the list are marks of Tom and the odd positions are the marks of Jon. Calculate the average marks of both.

In [ ]:
                                             #creating an empty
List = []
                                             # taking n value to limit values to 10 in range function
n=10
for i in range(0,n):
    marks=int((input("enter the marks : ")))
                                             # adding the values to Empty list
    List.append(marks)
print("The marks are as follows : ", List)

enter the marks : 76
enter the marks : 67
enter the marks : 85
enter the marks : 80
enter the marks : 65
enter the marks : 54
enter the marks : 50
enter the marks : 41
enter the marks : 76
enter the marks : 56
The marks are as follows :  [76, 67, 85, 80, 65, 54, 50, 41, 76, 56]

In [ ]:
marks_tom = List[0:10:2]                    #using the indexing method to print the marks of tom as per condition given
print(marks_tom)

avg_tom = sum(marks_tom)//len(marks_tom)   # printing the average of Tom's total mark's
print("The average marks of Tom are :" ,avg_tom)

[76, 85, 65, 50, 76]
The average marks of Tom are : 70

In [ ]:
marks_jon = List[1:10:2]                    #using the indexing method to print the marks of Jon as per condition given
print(marks_jon)

avg_jon = sum(marks_jon)//len(marks_jon)    # printing the average of Jon's total mark's
print("The average marks of Jon are :", avg_jon)

[67, 80, 54, 41, 56]
The average marks of Jon are : 59

#### 8. Take a string and a character as input. Print the result having the character between each word of the given string.

In [ ]:
string=input("enter string")
char=input(" ")
print(string.replace(" ", char))

enter stringmy name is sohail
 10
my10name10is10sohail

#### 9. Create a dictionary having three items. Key of each item is the name of a student, value associated with each key is a list of marks in five subjects. Given this dictionary print the average score of each student.

In [ ]:
Dict = { "my": [78,78,67,86,86], "name": [78,78,90,86,86], "is": [70,78,67,86,86] }

In [ ]:
s1 = Dict["my"]
print("The average marks of student 1 are : ", sum(s1)//len(s1))

The average marks of student 1 are :  79

In [ ]:
s2 = Dict["name"]
print("The average marks of student 2 are : ", sum(s2)//len(s2))

The average marks of student 2 are :  83

In [ ]:
s1 = Dict["is"]
print("The average marks of student 3 are : ", sum(s3)//len(s3))

The average marks of student 3 are :  83

#### 10. Take a string as input(may contain repetitive words), print a list consisting of unique words from the given string.

In [ ]:
Str = (input("enter the string : "))  # taking the user string input
unique= set((Str.split(" ")))         # using set and split function to split and count the unique words in the sentence
print(list(unique))       # added list keyword after submitting this

enter the string : my name is my name is
['is', 'name', 'my']